{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container">
    <div class="list-group">
        <a href="/supply">
            <h4 class="list-group-item-heading">{%  trans 'Cookie Supply Unit' %}</h4>
            <p class="list-group-item-text">{%  trans 'This version handles everything concerning raw materials and recipes.' %}</p>
        </a>
        <a href="/production">
            <h4 class="list-group-item-heading">{%  trans 'Cookie Production Unit' %}</h4>
            <p class="list-group-item-text">{%  trans 'This version handles everything concerning production, blocking and searching of pallets.' %}</p>
        </a>
        <a href="/delivery">
            <h4 class="list-group-item-heading">{%  trans 'Cookie Delivery Unit' %}</h4>
            <p class="list-group-item-text">{%  trans 'This version handles handles everything concerning orders and deliveries.' %}</p>
        </a>
    </div>
</div>
{% endblock %}